server/__pycache__/ai.cpython-313.pyc
server/__pycache__/main.cpython-313.pyc
server/__pycache__/memory.cpython-313.pyc
server/__pycache__/stocks.cpython-313.pyc
server/__pycache__/test.cpython-313.pyc
server/__pycache__/voice.cpython-313.pyc
